<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern charset="UTF-8">
                    %highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=cyan}
                </Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Logger pour votre application -->
        <Logger name="be.neuronics" level="info"/> <!-- debug / info -->

        <!-- Logger par défaut pour les autres packages et bibliothèques -->
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
